.sidebar.col-2.custom_sidebar
  %ul.tasks
    %header
      Tasks
    %li 
      = link_to "All"
    = tasks_link_to "To Do"
    = tasks_link_to "Done"
  %ul.stats
    %header
      Stats
    = graph_link_to "week"
    = graph_link_to "month"
    = graph_link_to "year"
  %ul.users
    %header
      Users
    = link_to current_user do
      %li View Profile
    = link_to edit_picture_user_path(current_user) do
      %li Update Profile Picture
    = link_to destroy_user_session_path, method: :delete do
      %li Logout